/* ProductCard.css */

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: white;
  color: black;
}

.product-name {
  font-size: 1.1em;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.buy-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.products-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  justify-content: center; /* Centraliza os cartões no container */
  padding: 20px;
}
.buy-button:hover {
  background-color: #218838;
}
.product-image {
  width: 100%; /* Faz a imagem ocupar toda a largura do cartão */
  height: 200px; /* Define uma altura fixa para padronizar */
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
  border-radius: 8px 8px 0 0; /* Arredonda apenas os cantos de cima */
  margin-bottom: 12px;
}